@font-face {
  font-family: "PT Sans Narrow";
  src: url(../fonts/ptsans-400.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url(../fonts/ptsans-700.woff2);
  font-weight: 700;
  font-style: normal;
}


a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

fieldset {
  padding: 0;
  border: 0 none;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page {
  height: 100%;
}

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
}

.navigation-list,
.user-navigation {
  display: flex;
  justify-content: start;
  align-items: center;
}

.user-navigation {
  padding-left: 0;
}

.navigation-item {
  max-height: 37px;
  padding: 10px;
  text-transform: none;
}

.navigation-favorites {
  position: relative;
}

.navigation-favorites::after {
  content: '12';
  position: absolute;
  top: -8px;
  right: -12px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 10px;
}

.nav-logo {
  position: relative;
  z-index: 1;
  height: 65px;
  margin-left: 70px;
  margin-right: 47px;
}

.navigation-link {
  font-size: 20px;
  color: #000;
}

.navigation-button {
  width: 160px;
  max-height: 37px;
  margin-right: 70px;
  text-transform: uppercase;
}

.content {
  background-color: #FFFFFF;
}

.content-head {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.content-text {
  font-size: 22px;
  font-weight: 400;
  color: #333333;
  text-transform: none;
  text-align: center;
}

.main-logo {
  background: url(../img/divider.svg) bottom no-repeat,
    url(../img/index-background.jpg) no-repeat;
}

.main-logo img {
  margin: 51px;
}

.advantages {
  display: grid;
  grid-template-rows: 384px 384px 384px 384px;
  gap: 0;
  margin: 0;
  padding: 0;
}

.city {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  padding: 0;
}

.block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.devil-bridge {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0;
  padding: 0;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.city-block,
.bridge-block {
  width: 230px;
  height: 200px;
  padding: 92px 85px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  background-color: #82B3D3;
}

.real-city,
.title-bridge {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.text-city,
.text-bridge {
  padding: 0;
  margin: 0;
  text-transform: none;
}

.block h2,
.features-list h2 {
  font-size: 24px;
  line-height: 26px;
}

.block p,
.features-list p {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-transform: none;
}

.title,
.block-subtitle,
.features-item,
.features-subtitle {
  height: 384px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.subtitle {
  height: 384px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.block img {
  padding-top: 80px;
}

.features-list {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.features-list h2 {
  padding-top: 103px;
}

.features-title {
  height: 384px;
  margin: 0;
  padding: 0;
  background-color: rgba(131, 179, 211, 0.2);
}

.search-section {
  background-color: #FFFFFF;
}

.search-section-head {
  padding-top: 91px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.search-section-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  color: #333333;
}

.main-button {
  width: 130px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: inherit;
  text-align: center;
  background-color: #756157;
  border: solid #756157;
  border-radius: 4px;
  color: #FFFFFF;
}

.main-footer-subscription {
  background: url(../img/background.jpg) no-repeat;
}

.subscription-header {
  padding-top: 94px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.subscription-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  color: #FFFFFF;
}

.subscription {
  padding-bottom: 94px;
}

.subscription-email {
  width: 600px;
  padding: 12px 15px;
  background-color: #F2F2F2;
  border: solid #F2F2F2;
  border-radius: 0 10px 10px 0;
  outline: none;
}

.subscription-submit {
  width: 200px;
  margin-left: -15px;
  padding: 12px 15px;
  text-transform: inherit;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: solid #82B3D3;
  border-radius: 0 10px 10px 0;
}

.social {
  display: flex;
  gap: 26px;
}

.social-link:hover path,
.social-link:focus path {
  fill: #68A2CA;
}

.social-link:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.contact-number {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  color: #000;
}

.contact-number:hover,
.contact-number:focus {
  color: #756157;
}

.contact-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.website:hover path,
.website:focus path {
  fill: #756157;
}

.website:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 40px 70px 30px;
}

.search-section-button {
  width: 574px;
  height: 60px;
  margin-bottom: 93px;
}

.catalog-footer-subscription {
  background-color: #FFFFFF;
}

.catalog-subscription-header,
.catalog-subscription-text {
  color: #000;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1200px;
  height: 400px;
  background: url(../img/background.jpg) no-repeat;
  backdrop-filter: blur(5px);
}

.search-buttons {
  display: flex;
  justify-self: flex-end;
  gap: 10px;
}

.search-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.active-button {
  border-color: #000000;
}

.search-button:focus {
  border-color: #82B3D3;
  outline: none;
}

.search-button:hover {
  border-color: #000000;
}

.search-button:active {
  border-color: #000000;
}

.on-page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: black;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
}

.number-link {
  color: #FFFFFF;
}

.on-page-number-link {
  color: black;
}

.divider {
  width: 1055px;
  height: 0;
  border: 1px solid #E6E6E6;
}

.catalog-pagination {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  padding: 0;
}

.catalog-header {
  padding-left: 70px;
  padding-top: 35px;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: none;
  text-align: left;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 70px;
}

.breadcrumbs-page {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: none;
  color: #FFFFFF;
}

.checkboxes,
.prices,
.radiobuttons {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  color: #FFFFFF;
}

.checkboxes-legend,
.prices-legend,
.radiobuttons-legend {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}

.input-number {
  display: flex;
  position: relative;
}

.number {
  position: relative;
  box-sizing: border-box;
  width: 144px;
  height: 48px;
  padding-left: 10px;
  margin: 0 0;
  color: #FFFFFF;
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.number-from {
  border-right: 1px solid #FFFFFF;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.number-to {
  border-left: 1px solid #FFFFFF;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

input[type="range"] {
  position: absolute;
  height: 4px;
  width: 288px;
  background-color: #ffffff;
  -webkit-appearance: none;
  appearance: none;
  pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type=checkbox] + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

input[type=checkbox] + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-right: 19px;
  background: url(../img/checkbox.svg) no-repeat;
}

input[type=checkbox]:checked + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/checkbox-checked.svg) no-repeat;
}

input[type=radio] + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

input[type=radio] + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-right: 19px;
  background: url(../img/radio.svg) no-repeat;
}

input[type=radio]:checked + label::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../img/radio-checked.svg) 5px 5px no-repeat,
    url(../img/radio.svg) no-repeat;
}

.from-slider {
  z-index: 1;
  height: 0;
}

.search-submit {
  padding: 13px 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.search-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: none;
  border: none;
}

.number {
  margin-right: 0;
}

.number-text-from {
  position: absolute;
  left: 110px;
  top: 10px;
  opacity: 0.3;
}

.number-text-to {
  position: absolute;
  right: 20px;
  top: 10px;
  opacity: 0.3;
}

.filters-list {
  display: flex;
  flex-direction: row;
  gap: 70px;
  padding: 40px 70px 70px;
}

.checkboxes-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.radiobuttons-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.prices-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.buttons {
  align-self: end;
}

.buttons-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sort {
  display: flex;
  align-items: center;
  gap: 78px;
  padding: 50px 72px 56px;
}

.prices {
  margin-left: 100px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 70px 30px;
}

.products-page-select {
  width: 160px;
  height: 49px;
  padding: 14px 20px;
  background: url(../img/select-vector.svg) no-repeat right;
  background-position-x: calc(100% - 20px);
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
}

.items-on-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 94px;
}

.items-on-list-header {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
}

.search-select {
  width: 290px;
  height: 49px;
  margin-left: 113px;
  padding: 14px 20px;
  background: url(../img/select-vector.svg) no-repeat right;
  background-position-x: calc(100% - 20px);
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  padding: 0 71px 66px 73px;
}

.hotels-list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
  height: 398px;
  padding: 20px;
}

.rating-starts {
  display: flex;
  gap: 6px;
  align-items: center;
  width: 140px;
  height: 37px;
}

.hotel-name {
  align-self: start;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  text-transform: none;
}

.card-text {
  display: flex;
  gap: 20px;
}

.card-text p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
}

.about-hotel {
  width: 110px;
  padding: 9px 15px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: #756157;
  border-radius: 4px;
}

.add-favorite {
  width: 140px;
  height: 37px;
  padding: 9px 15px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  background: #82B3D3;
  border: #82B3D3;
  border-radius: 4px;
}

.favorite {
  width: 140px;
  height: 37px;
  padding: 9px 15px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  background: #7DB54F;
  border: #82B3D3;
  border-radius: 4px;
}

.rate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #F2F2F2;
  border-radius: 4px;
}

.rating {
  display: flex;
  gap: 20px;
}

.card-buttons {
  display: flex;
  gap: 20px;
}

.price-range {
  display: flex;
  justify-content: flex-start;
  width: 140px;
}

.radio-type {
  display: flex;
  justify-content: flex-start;
  width: 140px;
}

.header-button {
  display: flex;
  align-items: center;
  width: 160px;
  height: 37px;
  padding: 9px 15px 8px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: fixed;
  left: 22.03%;
  right: 22.11%;
  z-index: 10;
  width: 715px;
  height: 561px;
  margin: 70px auto;
  background: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  -webkit-overflow-scrolling: touch;
}

.modal-header {
  display: flex;
  align-items: center;
  gap: 111px;
  margin: 0;
}

.modal-header-text {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.header-close-modal {
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal label {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: none;
}

.info {
  width: 25px;
  height: 25px;
  margin-left: 3px;
  margin-right: 18px;
  font-weight: 400;
  text-transform: none;
  color: #fff;
  background-color: #82B3D3;
  border-radius: 50%;
  border: none;
}

.customer {
  display: flex;
  align-items: center;
  gap: 56px;
}

.modal-button {
  width: 575px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 10px;
  border: none;
}

.date-from, .date-to {
  width: 401px;
  height: 50px;
  padding-left: 19px;
}

.adult,
.children {
  width: 133px;
  height: 50px;
  text-align: center;
}

.modal-from {
  display: flex;
  align-items: center;
  gap: 42px;
}

.modal-to {
  display: flex;
  align-items: center;
  gap: 36px;
}

.customer-alult {
  display: flex;
  align-items: center;
  gap: 64px;
}

.customer-chiilden {
  display: flex;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.on-page {
  border-bottom: 2px solid #756257;
}

.main-button:hover,
.about-hotel:hover,
.main-button:focus,
.about-hotel:focus {
  background-color: #615048;
  border-color: #615048;
}

.subscription-submit:hover,
.search-submit:hover,
.add-favorite:hover,
.subscription-submit:focus,
.search-submit:focus,
.add-favorite:focus {
  background-color: #68A2CA;
  border-color: #68A2CA;
}

.favorite:hover,
.favorite:focus {
  background-color: #6C9E42;
}

.main-button:active,
.about-hotel:active,
.subscription-submit:active,
.search-submit:active,
.add-favorite:active,
.favorite:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-button:disabled,
.about-hotel:disabled,
.subscription-submit:disabled,
.search-submit:disabled,
.add-favorite:disabled,
.favorite:disabled {
  background-color: #E5E5E5;
}

.page-number:hover,
.page-number:focus {
  background-color: #68A2CA;
}

.on-page-number-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.crumb:hover path {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-page:hover {
  color: rgba(255, 255, 255, 0.6);
}
