@font-face {
  font-family: "PT Sans Narrow" ;
  src: url(../fonts/ptsans-400.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:"PT Sans Narrow" ;
  src: url(../fonts/ptsans-700.woff2);
  font-weight: 700;
  font-style: normal;
}
.page {
height:100%;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

fieldset {
  padding: 0;
  border:0 none;
}

body {
width:1200px;
background-color: #FFFFFF;
margin:0 auto;
padding:0 auto;
text-align: center;
font-family: "PT Sans Narrow", Arial, sans-serif;
line-height: 26px;
font-weight: 700;
color: #000;
text-transform:uppercase;
min-height:100%;
display: grid;
grid-template-rows:min-content 1fr min-content;
align-content: start;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

a {
text-decoration:none;
}

.main-navigation{
margin:0;
padding: 0;
display: grid;
grid-template-columns:min-content 1fr min-content;
grid-template-rows: 1fr;
}
.navigation-list, .user-navigation {
  justify-content: start;
  display:flex;
  align-items: center;
}
.user-navigation{
  padding-left: 0;
}

.navigation-item {
  max-height: 37px;
  padding:10px;
  text-transform: none;
}

.navigation-favorites {
  position: relative;
}

.navigation-favorites::after{
  position: absolute;
  top: -8px;
  right: -12px;
  content: '12';
  line-height: 22px;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 10px;
  font-size: 10px;
  color: #FFFFFF;
}

.nav-logo {
  position: relative;
  height: 65px;
  margin-left:70px;
  margin-right:47px;
  z-index: 1;
}

.navigation-link {
font-size: 20px;
color: #000;
}

.navigation-button {
  width: 160px;
  max-height: 37px ;
  text-transform: uppercase;
  margin-right:70px
}
.content {
 background-color: #FFFFFF;
}
.content-head {
font-size: 30px;
line-height: 36px;
text-align: center;
}
.content-text {
font-size: 22px;
font-weight: 400;
color: #333333;
text-transform:none;
text-align: center;
}

.main-logo {
background:  url(../img/divider.svg) bottom  no-repeat,
             url(../img/index-background.jpg)  no-repeat;
background-size: 100%;
}
.main-logo img {
margin:51px;
}
.advantages {
  margin:0;
  padding:0;
  display: grid;
  gap:0;
  grid-template-rows: 384px 384px 384px 384px;
}
.city {
  margin:0;
  padding:0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.block {
  margin:0;
  padding:0;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.devil-bridge {
  margin:0;
  padding:0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.features-list {
  margin:0;
  padding:0;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
.city-block, .bridge-block {
  width: 230px;
  height:200px;
  padding:92px 85px;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.real-city, .title-bridge {
  margin:0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
.text-city, .text-bridge {
  padding:0;
  margin:0;
  text-transform:none;
}

.block h2, .features-list h2 {
 font-size: 24px;
 line-height:26px;
}
.block p, .features-list p {
 font-size: 18px;
 line-height: 21px;
 color: #333333;
 text-transform:none;
}

.title, .block-subtitle, .features-item, .features-subtitle {
  margin:0;
  padding:0;
height:384px;
text-align: center;
}

.subtitle {
background-color: #FFFFFF;
margin:0;
padding:0;
height:384px;
}

.block img {
  padding-top: 80px ;
}

.features-list {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.features-list h2 {
  padding-top: 103px;
}
.features-title {
background-color: rgba(131, 179, 211, 0.2);
margin:0;
  padding:0;
height:384px;
}

.search-section {
background-color: #FFFFFF;;
}
.search-section-head {
  padding-top:91px;
  text-align: center;
  font-size: 30px;
line-height: 36px;
}

.search-section-text {
  text-align: center;
  text-transform:none;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.main-button {
width: 130px;
background-color: #756157;
border: solid #756157;
border-radius: 4px;
color:#FFFFFF;
text-transform: inherit;
white-space: nowrap;
text-align: center;
font-size: 20px;
line-height: 36px;
font-weight: 700;
}
.main-footer-subscription {
background: url(../img/background.jpg) no-repeat;
background-size: 100%;
}

.subscription-header{
  padding-top: 94px;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.subscription-text {
  color: #FFFFFF;
  text-align: center;
  text-transform: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscription {
  padding-bottom: 94px;
}

.subscription-email {
  width:600px;
  padding: 12px 15px;
  background-color: #F2F2F2;
  border:solid #F2F2F2;
  border-radius: 0 10px 10px 0;
}

.subscription-submit {
  margin-left:-15px;
  width:200px;
  padding: 12px 15px;
  text-transform: inherit;
  color: #FFFFFF;
  background-color: #82B3D3;
  border:solid #82B3D3;
  border-radius: 0 10px 10px 0;
  }

.social {
  display: flex;
}
.social-button {
  padding-right: 26px;
}

.contact-number {
  text-decoration: none;
  text-align: center;
 color: #000;
 font-size: 40px;
 line-height: 40px;
 font-weight: 400;
}
.contact-number:hover{
  color: #756157;
}

.contact-number:focus{
  color: #756157;
}

.contact-number:active{
  color: rgba(117, 97, 87, 0.3);
}
.footer-contact {
  padding: 40px 70px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.search-section-button {
  width: 574px;
  height: 60px;
  margin-bottom: 93px;
}

.catalog-footer-subscription {
  background-color: #FFFFFF;
}

.catalog-subscription-header, .catalog-subscription-text {
  color:#000;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1200px;
  height: 400px;
  background: url(../img/background.jpg) no-repeat;
  backdrop-filter: blur(5px);
}
.search-buttons {
  justify-self:flex-end;
  display: flex;
  gap:10px;
}
.search-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.number-link{
  color: #FFFFFF;
}

.divider {
  width: 1055px;
  height: 0;
  border: 1px solid #E6E6E6;
}
.catalog-pagination {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
}

.catalog-header {
  padding-left: 70px;
  padding-top: 35px;
  margin: 0;
  color: #FFFFFF;
  font-weight:700;
  font-size: 60px;
  line-height: 78px;
  text-transform: none;
  text-align: left;
}

.breadcrumbs {
  padding-left: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.breadcrumbs-page {
  text-transform: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.checkboxes, .prices, .radiobuttons {
  color: #FFFFFF;
  text-transform: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.checkboxes-legend, .prices-legend, .radiobuttons-legend {
  margin-bottom: 30px;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.number {
  width: 144px;
  height: 48px;
  padding-left: 10px;
  position: relative;
 background: none;
 color: #FFFFFF;
 border: 2px solid #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance:none;
  margin: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  width: 288px;
  position: absolute;
  background-color: #ffffff;
  pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  width: 20px;
  height: 20px;
  background-color: #fff;
  cursor: pointer;
}

.from-slider {
  height: 0;
  z-index: 1;
}

.search-submit {
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 13px 14px;
  background: #82B3D3;
  border:1px solid #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.search-reset {
  background: none;
  border: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.number {
  margin-right: 0;
}
.number-text {
  position: relative;
  right: 40px;
  opacity: 0.3;
}

.filters-list {
  display: flex;
  flex-direction: row;
  padding: 40px 70px 70px;
  gap: 70px;
}

.checkboxes-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.radiobuttons-list {
  display: flex;
  flex-direction: column;
  gap:15px;
  align-items: flex-start;
}

.prices-list {
  display: flex;
  flex-direction: column;
  gap:32px;
  align-items: flex-start;
}

.buttons {
  align-self: end;
}

.buttons-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sort {
  padding: 50px 72px 56px;
  display: flex;
  gap: 78px;
  align-items: center;
}

.prices {
  margin-left: 100px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 35px 70px 30px;
  align-items: center;
}

.products-page-select {
  width: 160px;
  height: 49px;
  padding: 14px 20px;
  appearance: none;
  background: url(../img/select-vector.svg) no-repeat right;
  background-position-x: calc(100% - 20px);
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.items-on-list {
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 94px;
}

.items-on-list-header {
  font-weight: 400;
font-size: 18px;
line-height: 21px;
text-transform: none;
}

.search-select {
  margin-left: 113px;
  width: 290px;
  height: 49px;
  padding: 14px 20px;
  appearance: none;
  background: url(../img/select-vector.svg) no-repeat right;
  background-position-x: calc(100% - 20px);
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.hotels-list {
  padding: 0 71px 66px 73px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
}
.hotels-list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
  height: 398px;
  padding: 20px;
}

.rating-starts {
  width: 140px;
  height: 37px;
  display: flex;
  gap:6px;
  align-items: center;
}

.hotel-name {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  text-transform: none;
  align-self: start;
}

.card-text {
  display: flex;
  gap:20px;
}

.card-text p {
  margin:0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
}

.about-hotel {
  padding: 9px 15px 8px;
  color: #fff;
  width:110px;
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.add-favorite {
  padding: 9px 15px 8px;
  color: #fff;
  width:140px;
  height:37px;
  border: #82B3D3;
  background: #82B3D3;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.favorite {
  background: #7DB54F;
}

.rate {
  width: 140px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  display: flex;
  gap:20px;
}

.card-buttons {
  display: flex;
  gap: 20px;
}

.price-range {
  width: 140px;
display: flex;
justify-content: flex-start;
}

.radio-type {
  width: 140px;
  display: flex;
justify-content: flex-start;
}

.header-button {
  display: flex;
  align-items: center;
  width: 160px;
  height: 37px;
  padding: 9px 15px 8px;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 40px;
  left: 22.03%;
right: 22.11%;
  margin:  70px auto;
  -webkit-overflow-scrolling: touch;
 width:715px;
 height:561px;
 background: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.modal-header{
  margin: 0;
  display: flex;
  align-items: center;
  gap:111px;
}
.modal-header-text {
  margin: 0;
  font-weight:700;
  font-size: 30px;
  line-height: 36px;
}

.header-close-modal {
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
}

.modal label {
  font-weight: 700;
font-size: 20px;
line-height: 26px;
text-transform: none;
}

.info {
  margin-right: 18px;
  width: 25px;
  height: 25px;
  background-color: #82B3D3;
 color: #fff;
 text-transform: none;
 border-radius: 50%;
 border: none;
 font-weight: 400;
}
.customer{
  display: flex;
  align-items: center;
  gap:56px;
}
.modal-button{
  width: 575px;
  height: 60px;
  color: #FFFFFF;
  background: #83B3D3;
border-radius: 10px;
border: none;
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-transform: uppercase;
}

.date-from {
  padding-left: 19px;
width: 401px;
height: 50px;
}

.date-to {
  padding-left: 19px;
  width: 401px;
  height: 50px;
}

.adult, .children {
  text-align: center;
  width: 133px;
  height: 50px;
}
.modal-from {
  display: flex;
  align-items: center;
  gap:42px;
}

.modal-to {
  display: flex;
  align-items: center;
  gap:36px;
}
.customer-alult {
  display: flex;
  align-items: center;
  gap:64px;
}
.customer-chiilden {
  display: flex;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.on-page {
  border-bottom: 2px solid #756257;
}
