@font-face {
  font-family: "PT Sans Narrow" ;
  src: url(../fonts/ptsans-400.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:"PT Sans Narrow" ;
  src: url(../fonts/ptsans-700.woff2);
  font-weight: 700;
  font-style: normal;
}
body {
min-width: 1200px;
margin:0;
padding:0;
font-family: "PT Sans Narrow", Arial, sans-serif;
line-height: 26px;
font-weight: 700;
color: #000;
text-transform:uppercase;
background-color: #E5E5E5;
}

a {
text-decoration:none;
}

.navigation-item {
  list-style: none;
}
.navigation-link {
font-size: 20px;
}
.content {
 background-color: #FFFFFF;
}
.content-head {
font-size: 30px;
line-height: 36px;
text-align: center;
}
.content-text {
font-size: 22px;
font-weight: 400;
color: #333333;
text-transform:none;
text-align: center;
}

.main-logo {
background: url(../img/index-background.jpg) no-repeat;
}

.city-block, .bridge-block {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.real-city, .title-bridge {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
.text-city, .text-bridge {
  text-transform:none;
}

.block {
  text-align: center;
}

.block h2 {
 font-size: 24px;
 line-height:26px;
}
.block p {
 font-size: 18px;
 line-height: 21px;
 color: #333333;
 text-transform:none;
}

.main-footer-subscription {
background: url(../img/background.jpg) no-repeat;
}

.social-button {
  list-style: none;
}
